/*------------------------------------------------*/
/*-----------------[HEADER]-----------------------*/
/*------------------------------------------------*/
.Header { 
	width: 100%;
	position: relative;
	white-space: nowrap;
	clear: both;
	display: block;
	height: auto;
	margin: 0 auto;
	z-index: 99;
	position: fixed;
	left: 0;
	right: 0;
	@include transicion();
	
	@media (max-width: $desktop-width) {
		height: auto;
		background: none;

		/*&--tiny { position: relative; }*/
	}

	@media (max-width: $tablet-width) {
		position: relative;	
		height: auto;	
	}

	&--tiny {
		height: 60px;
		/*background: $header-bg;*/

		@media (max-width: $tablet-width) {
			height: auto;
		}
	}
	
	.Header-contenido {
		display: block;
		height: 100%;
		width: $desktop-width;
		position: relative;
		margin: 0 auto;

		@media (max-width: $desktop-width) {
			max-width: $desktop-width;
			width: 100%;
			height: auto;
		}

		/* Logo */
		.Header-logo {
			padding: .5rem 1rem;
			display: block;
			float: left;
			max-width: 320px;

			@media (max-width: $tablet-width) {
				max-width: 100%;
				width: 100%;
				text-align: center;
				padding: 1rem 0;
			}
			img {
				max-width: 320px;
				@include transicion();

				@media (max-width: $tablet-width) {
					width: 75%;
				}
				&.tiny {
					/*max-width: 50px;*/
					/*opacity: 0;*/
					display: none;

					@media (max-width: $tablet-width) {
						height: auto;
						max-width: 320px;
					}
				}
			}
		}
		.Datos {
			float: right;
			text-align: right;
			width: auto;
			color: white;
			padding-top: 1rem;
			@include transicion();

			&.tiny {
				/*opacity: 0;*/
				display: none;
			}

			.fondo-i {
				width: 35px;
				height: 35px;
				background: none;
				display: inline-block;
				border-radius: 50%;
				border: 2px white solid;
				text-align: center;

				i {
					color: white;
					padding-top: 5px;
					font-size: 1.3rem;
				}
			}

			h3 {
				margin: 0;
			}
		}
		

		/* Botones Sociales */
		.social {
			float: right;
			padding: .5rem 1em;	

			@media (max-width: $tablet-width) {
				width: 100%;
				clear: both;
				text-align: center;
			}
		}


		/* Search Form */
		#searchform {
			float: right;
			padding: .5rem 1em;
			@include transicion();

			@media (max-width: $tablet-width) {
				display: none;
			}
			
			div { margin: 0; }
			label { display: none; }
		}
		
		 #s {
			float: right;
			@include transicion();
			width: 90px;
		}
		#s:focus {
			background-color: #f9f9f9;
			width: 196px;
		}
		#searchsubmit {
			display: none;
		}
		.only-search #searchform {
			top: 5px;
			z-index: 1;
		}
		.only-search #s {
			background-color: #666;
			border-color: #000;
			color: #222;
		}
		.only-search #s,
		.only-search #s:focus {
			width: 85%;
		}
		.only-search #s:focus {
			background-color: #bbb;
		}
		.with-image #searchform {
			top: auto;
			bottom: -27px;
			max-width: 195px;
		}
		.only-search + #access div {
			padding-right: 205px;
		}
		
	}
}
