.content {

	.single {

		.encabezado {
			text-align: center;
			padding: 2rem 0;
			color: white;
			margin-bottom: 2rem;
			background-repeat: no-repeat;
			background-size: 100%;
			background-attachment: fixed;
			background: black;
			@media (max-width: $tablet-width) {
				background-size: 100% 100%;
				background-attachment: fixed;		
			}	
			
			.title {
				font-size: 4rem;
				text-transform: uppercase;
				@media (max-width: $tablet-width) {
					font-size: 2rem;
				}
			}

			.subtitulo {
				font-size: 2.5rem;
				text-transform: uppercase;
			}

			.frase {
				font-size: 2.5rem;
				font-style: italic;
			}
		}

		.u-contenedor {
			display: block;
			overflow: hidden; 
			clear: both;
			width: $desktop-width;
			margin: 0 auto;

			@media (max-width: $desktop-width) {
				max-width: $desktop-width;
				width: 100%;
			}

			figure {
				width: 50px;
				display: block;
				margin: 0 auto;

				img {
					width: 100%;
				}
			}

			.title {
				font-size: 1.5rem;
				text-transform: uppercase;
				margin: 0;
				padding: 1rem;
				text-align: center;
			}

			.contenido {
				@media (max-width: $desktop-width) {
					padding: 0 2rem;
				}

				p {
					font-size: 1.2rem;
					line-height: 1.5;
				}
			}

			.anli-ss {
				overflow: hidden;
				padding: 1rem 0;

				#footer-compartir {
					float: none;
					padding: 0;
				}
			}
		}
	}
}