.starchitects-flexslider {
	border: none;
	margin: 0;
	
	.flex-control-nav {
		bottom: 3rem;
		@media (max-width: $desktop-width) {
			bottom: 0;
		}
		
		a {
			width: 25px;
			height: 25px;
			border: 2px white solid;
		}

		.flex-active {
			background: white;
		}
	}

	.slides {

		li {
			position: relative;

			img {
				width: 100%;
			}

			.flex-caption {
				text-shadow: 1px 2px #000;
				text-align: center;
				color: white;
				position: absolute;
				width: 100%;
				bottom: 0;
				right: 0;
				left: 0;
				padding-bottom: 7rem;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
				@media (max-width: $desktop-width) {
					padding-bottom: 3rem;
				}

				/*h2,h3 { width: 50%; }*/

				h2 {
					padding: .5rem 0;
					font-size: 4.5rem;
					@media (max-width: $desktop-width) {
						font-size: 3rem;
					}
					@media (max-width: $tablet-width) {
						font-size: 2rem;
					}
				}

				h3 {
					padding: .5rem 0;
					text-transform: uppercase;
					font-size: 2rem;
					@media (max-width: $desktop-width) {
						font-size: 1.5rem;
					}
					@media (max-width: $tablet-width) {
						font-size: 1rem;
					}
				}
			}
		}
	}
}