/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/

.PrimalTabs {
	/*padding-top: 6rem;*/
	background-size: 100%;
	background-position: center;
	padding: 2rem 0;

	.PrimalTabs-contenido {
		text-align: center;

		figure {
			width: 50px;
			display: block;
			margin: 0 auto;

			img {
				width: 100%;
			}
		}

		.custom-ul-nav {
			margin: 0;
			background: none;
			border: none;
			border-radius: 0px;

			ul {
				width: 100% !important;
				transform: none !important;

				li {
					cursor: pointer;
					width: auto !important;
					font-size: 20px;
					float: none !important;
					display: inline-block !important;
				}

				li:first-child {
					width: 100% !important;
				}
				
				li::after {
					content: "/";
				}
			}
		}
	}
		
	.contenido-tab {

		.bloque {
			background-image: url('images/bg-tabs.jpg');
			background-size: 100%;
			display: inline-block;
			width: 250px;
			height: 200px;
			margin: 0 10px;
			margin-bottom: 1rem;
		}

		.bloque:nth-child(5) {
			width: 98%;
			height: 200px;
			background-position: center;
		}
	}
}


