
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('fonts/AftaSerifThin-Regular.otf') format('truetype');
} 
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('Open-Sans-Italic'),
  url('fonts/AftaSerifThin-Italic.otf') format('truetype');
}
